---
layout: page
title: Contacts
permalink: /contacts/
---
    
<!-- Google map -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{site.google_key}}" async defer></script>

<h1 class="text-center h-decor">Contact Us</h1>
<div class="block fullwidth no-pad">
    <div class="container">
        <div id="googleMap" class="google-map"></div>
    </div>
</div>
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>General Office</h2>
                <div class="contact-info-sm">
                    <h5>Address</h5>
                    <i class="icon icon-map-marker"></i>{{site.address}}
                </div>
                <div class="contact-info-sm">
                    <h5>Phone 24/7</h5>
                    <i class="icon icon-technology"></i>{{site.phone}}
                </div>
                <div class="contact-info-sm">
                    <h5>Operating Hours</h5>
                    <i class="icon icon-clock"></i>{{site.hours}}
                </div>
                <div class="divider"></div>
                <h5>Look for us on</h5>
                <ul class="social-list">
                    {% for social in site.social_networks %}
                        {% if social.url != '' %}
                        <li><a href="{{social.url}}" target="_blank"><i class="icon-{{social.name}}-logo"></i></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="divider visible-sm visible-xs"></div>
            <div class="col-md-8">
                <h2 class="text-center h-lg h-decor">Get in Touch</h2>
                <form action="https://send.pageclip.co/k77ZvZR2MYDgRBED73nX0OyzOUOsSmRw/contact-form" class="contact-form pageclip-form" method="post" novalidate="novalidate">
                    <input type="hidden" name="_subject" value="Get in Touch!" />
                    <div class="successform text-center">
                        <p>Your message was sent successfully!</p>
                    </div>
                    <div class="errorform text-center">
                        <p>Something went wrong, try refreshing and submitting the form again.</p>
                    </div>
                    <div class="input-wrapper">
                        <input type="text" class="input-custom input-full" name="name" placeholder="Your name*">
                    </div>
                    <div class="input-wrapper">
                        <input type="text" class="input-custom input-full" name="email" placeholder="Email*">
                    </div>
                    <div class="input-wrapper">
                        <textarea class="textarea-custom input-full" name="message" placeholder="Message"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn pageclip-form__submit">
                            <span>Send Message</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6>Contact us to book your freequote.</h6>
                <ul class="marker-list">
                    <li>No contracts and no obligation</li>
                    <li>Competitive Rates</li>
                    <li>Top quality work</li>
                    <li>A service schedule designed to meet your needs</li>
                    <li>Proud members of the Better Business Bureau</li>
                    <li>We provide all our own supplies.</li>
                </ul>
            </div>
            <div class="clearfix visible-sm visible-xs"></div>
            <div class="col-sm-6 col-md-4">
                <div class="address-box">
                    <h3>Founding city</h3>
                    <div class="contact-info-sm">
                        <i class="icon icon-map-marker"></i><b>Atlanta, GA</b>
                        <br> Phone: 404-790-8429
                        <br> Email: <a href="mailto:kpardo@chicshinecleaning.com">kpardo@chicshinecleaning.com</a>
                        <br> 2208 Heritage Trace Vw
                        <br> Marietta, GA 30062
                        <br>
                        <ul class="social-list social-list-sm">
                            <li><a href="#"><i class="icon-google-plus-logo"></i></a></li>
                            <li><a href="#"><i class="icon-facebook-logo"></i></a></li>
                            <li><a href="#"><i class="icon-twitter-logo"></i></a></li>
                            <li><a href="#"><i class="icon-instagram-logo"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="address-box">
                    <h3>Headquarters</h3>
                    <div class="contact-info-sm">
                        <i class="icon icon-map-marker"></i><b>Seattle, WA</b>
                        <br> Phone: 404-790-8429
                        <br> Email: <a href="mailto:kpardo@chicshinecleaning.com">kpardo@chicshinecleaning.com</a>
                        <br> 2208 Heritage Trace Vw
                        <br> Marietta, GA 30062
                        <br>
                        <ul class="social-list social-list-sm">
                            <li><a href="#"><i class="icon-google-plus-logo"></i></a></li>
                            <li><a href="#"><i class="icon-facebook-logo"></i></a></li>
                            <li><a href="#"><i class="icon-twitter-logo"></i></a></li>
                            <li><a href="#"><i class="icon-instagram-logo"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>