
<!-- Footer -->
<footer class="page-footer">
    <div class="page-footer-menu">
        <div class="container">
            {% include menu.html %}
            <div class="footer-ribbon">
                <img src="/assets/images/footer-ribbon.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-footer-bot">
            <div class="logo">
                <a href="/"><img src="/assets/images/logo-footer.png" alt=""></a>
            </div>
            <div class="page-footer-col-1">
                <h4>Contact Us</h4>
                <div class="page-footer-info">
                    <i class="icon icon-map-marker"></i>{{site.address}}
                </div>
                <div class="page-footer-info">
                    <i class="icon icon-technology"></i>{{site.phone}}
                </div>
            </div>
            <div class="page-footer-col-2">
                <div class="page-footer-info">
                    <i class="icon icon-clock"></i>{{site.hours}}
                </div>
                <div class="page-footer-info">
                    <i class="icon icon-speech-bubble"></i><a href="mailto:{{site.email}}">{{site.email}}</a>
                </div>
            </div>
            <div class="page-footer-col-3">
                <ul class="social-list">
                    {% for social in site.social_networks %}
                        {% if social.url != '' %}
                        <li><a href="{{social.url}}" target="_blank"><i class="icon-{{social.name}}-logo"></i></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="footer-copyright">{{site.copyright}}</div>
        <div class="backToTop js-backToTop">
            <i class="icon icon-right-arrow"></i>
        </div>
    </div>
</footer>
<!-- /Footer -->