<!-- Header -->
<header class="page-header header-sticky">
    <div class="page-header-mobile-info">
        <div class="page-header-mobile-info-content">
            <div class="page-header-info">
                <i class="icon icon-map-marker"></i>{{site.address}}
            </div>
            <div class="page-header-info">
                <i class="icon icon-technology"></i>{{site.phone}}
            </div>
            <div class="page-header-info">
                <i class="icon icon-clock"></i>{{site.hours}}
            </div>
            <div class="page-header-info">
                <i class="icon icon-speech-bubble"></i><a href="mailto:{{site.email}}">{{site.email}}</a>
            </div>
            <ul class="social-list">
                <li><a href="#"><i class="icon-google-plus-logo"></i></a></li>
                <li><a href="#"><i class="icon-facebook-logo"></i></a></li>
                <li><a href="#"><i class="icon-twitter-logo"></i></a></li>
                <li><a href="#"><i class="icon-instagram-logo"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="page-header-top">
        <div class="container">
            <div class="page-header-mobile-info-toggle"></div>
            <div class="logo">
                <a href="/"><img src="/assets/images/logo.png" alt=""></a>
                <div class="shine"></div>
            </div>
            <div class="page-header-top-middle hidden-xs">
                <div class="page-header-slogan visible-lg">{{site.slogan}}</div>
                <div class="page-header-shedule"><i class="icon icon-clock"></i>{{site.hours}}</div>
                <div class="page-header-phone text-right"><span>Call us on:</span> <span class="phone-number">{{site.phone}}</span></div>
            </div>
            <div class="quote-button-wrap"><a href="/quote/" class="btn"><i class="icon icon-bell"></i>GET A QUOTE</a></div>
            <a href="#" class="menu-toggle"><i class="icon-line-menu"></i><i class="icon-cancel"></i></a>
        </div>
    </div>
    <div class="page-header-menu">
        <div class="container">
            {% include menu.html %}
        </div>
    </div>
</header>
<!-- /Header -->