<ul class="menu">
    <li {% if page.url == "/" %}class="active"{% endif %}><a href="/">Home</a></li>
    <li {% if page.url == "/about/" %}class="active"{% endif %}><a href="/about/">About Us</a></li>
    <li {% if page.url == "/services/" %}class="active"{% endif %}><a href="/services/">Our Services</a></li>
    <!-- <li {% if page.url == "/faqs/" %}class="active"{% endif %}><a href="/faqs/">Faqs</a></li> -->
    <li {% if page.url == "/blog/" %}class="active"{% endif %}><a href="/blog/">Blog</a></li>
    <li {% if page.url == "/testimonials/" %}class="active"{% endif %}><a href="/testimonials/">Testimonials</a></li>
    <!-- <li {% if page.url == "/shop/" %}class="active"{% endif %}><a href="/shop/">Shop</a></li> -->
    <li {% if page.url == "/contacts/" %}class="active"{% endif %}><a href="/contacts/">Contacts</a></li>
    <li><a href="https://clienthub.getjobber.com/client_hubs/f4420fb4-ece3-4ee7-81a3-cc1331be7248/login/new" target="_blank">Client Portal</a></li>
</ul>