<!-- External JavaScripts -->
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/jquery.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/bootstrap.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/slick.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/isotope.pkgd.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/lightbox.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/jquery.scroll-with-ease.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/jquery.form.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/jquery.validate.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/moment.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/bootstrap-datetimepicker.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/jquery.waypoints.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/jquery.countTo.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/jquery.print.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/jquery.dotdotdot.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/jquery.doubletaptogo.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/nouislider.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/vendor/jquery.elevateZoom-3.0.8.min.js"></script>
<!-- Custom JavaScripts -->
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/custom.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/forms.js"></script>

{% if site.analytics_code != null %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{site.analytics_code}}', 'auto');
        ga('send', 'pageview');
    </script>
{% endif %}

<script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>