<!-- Vendors -->
<link href="{{ "/assets/css/vendor/bootstrap.min.css" | prepend: site.baseurl | prepend: site.url}}" rel="stylesheet">
<link href="{{ "/assets/css/vendor/animate.min.css" | prepend: site.baseurl | prepend: site.url}}" rel="stylesheet">
<link href="{{ "/assets/css/vendor/slick.css" | prepend: site.baseurl | prepend: site.url}}" rel="stylesheet">
<link href="{{ "/assets/css/vendor/lightbox.css" | prepend: site.baseurl | prepend: site.url}}" rel="stylesheet">
<link href="{{ "/assets/css/vendor/bootstrap-datetimepicker.css" | prepend: site.baseurl | prepend: site.url}}" rel="stylesheet">
<link href="{{ "/assets/css/vendor/nouislider.css" | prepend: site.baseurl | prepend: site.url}}" rel="stylesheet">
<!-- Template Style -->
<link href="{{ "/assets/css/custom.css" | prepend: site.baseurl | prepend: site.url}}" rel="stylesheet">
<link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">